<h2>New book</h2>
<!--エラーメッセージ-->
<% if book.errors.any? %>
  <h3 id="error_message"><%= book.errors.count %>件のerrorが発生しました</h3>
  <% book.errors.full_messages.each do |message| %><br>
    <p id="error_message"><span>・</span><%= message %></p>
  <% end %>
<% end %>

<%= form_with model: book, local:true do |f| %>
    <div class="form-group">
      <%= f.label :title %><br />
      <%= f.text_field :title, class:"form-control" %>
    </div>
  <div class="form-group">
    <%= f.label :opinion %><br />
    <%= f.text_area :body, class:"form-control", rows:"2" %>
  </div>
  <br>
  <%= f.submit 'Create Book', class:"btn btn-success" %>
<% end %>
